@charset "UTF-8";
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ins {
  background-color: #ffff99;
  color: black;
  text-decoration: none;
}

mark {
  background-color: #ffff99;
  color: black;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

@font-face {
  font-family: "YouAreLovedRegular";
  src: url("../fnt/you_are_loved-webfont.eot#") format("embedded-opentype"), url("../fnt/you_are_loved-webfont.woff") format("woff"), url("../fnt/you_are_loved-webfont.ttf") format("truetype"), url("../fnt/you_are_loved-webfont.svg#webfontzm1gSw5x") format("svg");
}
html {
  background-color: #257290;
}

body {
  color: #231f20;
  background-color: white;
  font: normal 14px/1.5 "Helvetica Neue", "Arial", "Helvetica", sans-serif;
}

h1 {
  font-family: "YouAreLovedRegular", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
}

h2, h3, h4 {
  color: #257290;
}

h1 {
  font-size: 2em;
  font-weight: normal;
}

h2 {
  font-size: 1.5em;
  font-weight: normal;
}

h3 {
  font-size: 1.2em;
  font-weight: bold;
}

h4 {
  font-size: 1em;
  font-weight: bold;
}

p, blockquote, address, pre, ul, ol, dl {
  margin: 0.5em 0;
}

ul li {
  margin-left: 1.5em;
  list-style: disc;
}
ul li ul {
  margin: 0;
}
ul li ul li {
  list-style: circle;
}

ol li {
  margin-left: 1.5em;
  list-style: decimal;
}

dl dt {
  font-weight: bold;
  margin-top: 0.5em;
}
dl dd {
  margin-left: 1em;
}

small {
  font-size: 0.9em;
}

a {
  color: #257290;
}
a:visited {
  color: #666666;
}

article header h1, article header h2, article header p {
  text-shadow: rgba(0, 0, 0, 0.5) 2px 2px 2px;
}

html {
  text-align: center;
  background: #257290 url(img/FF_window-bg.png) repeat top left;
  height: 100.5%;
}

body {
  width: 940px;
  border: 12px solid white;
  margin: 40px auto;
  text-align: left;
  position: relative;
  overflow: visible;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 2px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 2px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 2px 0;
  box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 2px 0;
}

#home-page, #holding-page {
  height: 627px;
}

#page-header, #page-content, #page-footer {
  clear: both;
  overflow: visible;
}

#page-content {
  overflow: auto;
}
#page-content article header {
  width: 500px;
  height: 110px;
  margin: 90px 0px 75px 260px;
  -moz-transform: rotate(-5deg);
  -webkit-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  transform: rotate(-5deg);
}
#page-content article #related-content-1 {
  float: left;
  width: 220px;
  position: relative;
}
#page-content article #main-content {
  float: left;
  width: 420px;
  margin: 0 15px;
  padding: 0 24px;
  border-left: 1px solid #bcbec0;
}
#page-content article #main-content.wide {
  width: 680px !important;
  margin: 0 0 0 15px;
  padding: 0 0 0 24px;
}
#page-content article #main-content.full-width {
  width: 100% !important;
  margin: 40px 0 0 0;
  padding: 0;
  border: none;
  border-top: 1px solid #bcbec0;
}
#page-content article #related-content-2 {
  float: right;
  width: 220px;
}

#page-header h1 {
  width: 253px;
  height: 120px;
  position: absolute;
  top: 8px;
  left: 0;
  text-indent: -5000px;
  background: url(img/FF_logo_home.png) no-repeat top left;
}
#page-header h2 {
  font-family: "YouAreLovedRegular", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
  font-size: 1.5em;
  font-weight: normal;
  height: 17px;
  left: 0;
  position: absolute;
  top: 280px;
  width: 212px;
}

#contact-us {
  background: white url(img/mastheads/meet_the_team_header.jpg) no-repeat top left;
}

#cotswolds {
  background: white url(img/mastheads/cotswolds_header.jpg) no-repeat top left;
}

#days {
  background: white url(img/mastheads/localfit-masthead.jpg) no-repeat top left;
}

#devon {
  background: white url(img/mastheads/lee-abbey-masthead.png) no-repeat top left;
}

#enquiries {
  background: white url(img/mastheads/web_picture_21.jpg) no-repeat top left;
}

#faqs {
  background: white url(img/mastheads/hiker_poles_masthead.jpg) no-repeat top left;
}

#france {
  background: white url(img/mastheads/france_masthead.jpg) no-repeat top left;
}

#goodlake {
  background: white url(img/mastheads/goodlake.jpg) no-repeat top left;
}

#henley {
  background: white url(img/mastheads/green_field_masthead.jpg) no-repeat top left;
}

#house-of-bread {
  background: white url(img/mastheads/house-of-bread.jpg) no-repeat top left;
}

#kintbury {
  background: white url(img/mastheads/web_picture_35.jpg) no-repeat top left;
}

#localfit {
  background: white url(img/mastheads/localfit-masthead.jpg) no-repeat top left;
}

#meet-the-team {
  background: white url(img/mastheads/meet_the_team_header.jpg) no-repeat top left;
}

#nutrition {
  background: white url(img/mastheads/grapes_masthead.jpg) no-repeat top left;
}

#prices {
  background: white url(img/mastheads/web_picture_23.jpg) no-repeat top left;
}

#shop {
  background: white url(img/mastheads/shop-masthead.jpg) no-repeat top left;
}

#staffordshire {
  background: white url(img/mastheads/green_field_masthead.jpg) no-repeat top left;
}

#testimonials {
  background: white url(img/mastheads/testimonials_masthead.jpg) no-repeat top left;
}

#training {
  background: white url(img/mastheads/training_masthead.jpg) no-repeat top left;
}

#weekends {
  background: white url(img/mastheads/weekends_masthead.jpg) no-repeat top left;
}

#weeks {
  background: white url(img/mastheads/weeks_masthead_1.jpg) no-repeat top left;
}

#who-we-are {
  background: white url(img/mastheads/whoweare_masthead.jpg) no-repeat top left;
}

#why-fitfish {
  background: white url(img/mastheads/web_picture_2a.jpg) no-repeat top left;
}

#winter-retreat {
  background: white url(img/mastheads/winter-retreat-masthead.jpg) no-repeat top left;
}

#yourplateofplenty {
  background: white url(img/mastheads/grapes_masthead.jpg) no-repeat top left;
}

nav {
  *zoom: 1;
  z-index: 1000;
  position: absolute;
  top: -12px;
  right: 0;
  width: 940px;
  background-color: white;
}
nav:before, nav:after {
  content: " ";
  display: table;
}
nav:after {
  clear: both;
}
nav ul {
  background-color: white;
  margin: 0;
  padding: 0;
  float: right;
}
nav ul li {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}
nav ul li a, nav ul li span {
  display: block;
  font-size: 0.8em;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: #666666;
  background-color: white;
}
nav ul li.expandable > span:hover, nav ul li.expandable > span:focus {
  cursor: pointer;
  color: white;
  background-color: #1fbabf;
}
nav ul li a {
  font-weight: bold;
}
nav ul li a:hover, nav ul li a:focus {
  color: white;
  background-color: #1fbabf;
}
nav ul li span {
  font-style: italic;
}
nav ul li ul {
  display: none;
  width: 180px;
  background-color: white;
  position: absolute;
  top: 100%;
  left: 0;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
nav ul li ul li {
  float: none;
  list-style: none;
  border-top: 1px solid #1fbabf;
}
nav ul li ul li:first-child {
  border: none;
}
nav ul li ul li a, nav ul li ul li span {
  padding: 5px;
}
nav ul li.expanded ul {
  display: block;
}

#page-content article header h1 {
  font-family: "YouAreLovedRegular", "HelveticaNeue", "Arial", "Helvetica", sans-serif;
  font-size: 3em;
  font-weight: normal;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.5) 2px 2px 2px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#666666')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#666666');
}
#page-content article header h2 {
  font-family: "HelveticaNeue", "Arial", "Helvetica", sans-serif;
  font-size: 1em;
  font-weight: bold;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.5) 2px 2px 2px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#666666')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#666666');
}
#page-content article header h2 .full {
  color: #c00;
}
#page-content article header .book-it {
  padding: 0;
  color: white;
  background-color: #ffcc00;
  position: absolute;
  bottom: -60px;
  right: -160px;
  text-align: center;
  font-size: 0.9em;
  line-height: 1.25;
  -moz-transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
  -o-transform: rotate(5deg);
  transform: rotate(5deg);
  line-height: 0;
}
#page-content article header .book-it a {
  text-decoration: none;
  color: white;
}
#page-content article header .book-it h3 {
  font-family: "YouAreLovedRegular", "HelveticaNeue", "Arial", "Helvetica", sans-serif;
  font-size: 1.8em !important;
  font-weight: normal;
  color: white;
  text-shadow: none;
  line-height: 1.25;
}
#page-content article header .book-it p {
  font-weight: normal;
  color: white;
  line-height: 1.25;
  text-shadow: none;
}
#page-content article header .early-bird {
  padding: 0;
  position: absolute;
  bottom: -90px;
  right: -160px;
  -moz-transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
  -o-transform: rotate(5deg);
  transform: rotate(5deg);
  line-height: 0;
}
#page-content article header .early-bird a {
  text-decoration: none;
}
#page-content form table, #page-content form tr {
  border: none !important;
}
#page-content form th, #page-content form td {
  border: none !important;
  vertical-align: top !important;
  padding: 5px !important;
}
#page-content form label {
  padding-left: 0.5em;
  display: block;
}
#page-content form label + input[type=radio] {
  display: inline;
}
#page-content form input[type=radio] + label, #page-content form label + input[type=checkbox] {
  display: inline;
}
#page-content form input[type=checkbox] + label {
  display: inline;
}
#page-content form input[type=text], #page-content form input[type=date], #page-content form input[type=email] {
  display: block;
  width: 100%;
  font-size: 1.1em;
  padding: 3px 0;
  margin: 0;
  border: 1px solid #bcbec0;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -o-border-radius: 7px;
  -ms-border-radius: 7px;
  -khtml-border-radius: 7px;
  border-radius: 7px;
}
#page-content form input[type=checkbox], #page-content form input[type=radio] {
  display: inline;
}
#page-content form input[type=submit] {
  float: right;
  font-size: 2em;
  font-family: "YouAreLovedRegular", "HelveticaNeue", "Arial", "Helvetica", sans-serif;
  font-weight: normal;
  color: white;
  padding: 5px 15px;
  margin: 0;
  background-color: #257290;
  border: none;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -o-border-radius: 7px;
  -ms-border-radius: 7px;
  -khtml-border-radius: 7px;
  border-radius: 7px;
}
#page-content form select {
  display: block;
  font-size: 1.1em;
  padding: 3px 0;
  margin: 0;
  border: 1px solid #bcbec0;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -o-border-radius: 7px;
  -ms-border-radius: 7px;
  -khtml-border-radius: 7px;
  border-radius: 7px;
}
#page-content form textarea {
  display: block;
  width: 100%;
  height: 80px;
  font-size: 1.1em;
  padding: 3px 0;
  margin: 0;
  border: 1px solid #bcbec0;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -o-border-radius: 7px;
  -ms-border-radius: 7px;
  -khtml-border-radius: 7px;
  border-radius: 7px;
}
#page-content form h3 {
  border-top: 1px solid #bcbec0;
  margin-top: 5px;
  padding-top: 5px;
}
#page-content table {
  border-top: 2px solid #257290;
  border-bottom: 2px solid #257290;
  width: 100%;
  color: #257290;
}
#page-content table tr th {
  border-right: 1px solid #257290;
  font-weight: bold;
  text-align: left;
  padding: 2px 4px;
  vertical-align: bottom;
}
#page-content table tr th[scope=row] {
  border-bottom: 1px solid #257290;
}
#page-content table tr th:last-child {
  border-right: none;
}
#page-content table tr td {
  border-top: 1px solid #257290;
  border-right: 1px solid #257290;
  padding: 2px 4px;
}
#page-content table tr td:last-child {
  border-right: none;
}
#page-content table tr td .highlight {
  display: block;
  padding: 0 5px;
  text-decoration: none;
  margin: 1px;
  background-color: #257290;
  color: #fff;
  text-align: center;
  white-space: nowrap;
}
#page-content table tr td .red {
  display: block;
  width: auto;
  padding: 0 5px;
  text-decoration: none;
  margin: 1px;
  background-color: #c00;
  color: #fff;
  text-align: center;
  white-space: nowrap;
}
#page-content table tr td .amber {
  display: block;
  width: auto;
  padding: 0 5px;
  text-decoration: none;
  margin: 1px;
  background-color: #fecb2e;
  color: #fff;
  text-align: center;
  white-space: nowrap;
}
#page-content table tr td .green {
  display: block;
  width: auto;
  padding: 0 5px;
  text-decoration: none;
  margin: 1px;
  background-color: #00c;
  color: #fff;
  text-align: center;
  white-space: nowrap;
}
#page-content .left {
  width: 48%;
  float: left;
}
#page-content .right {
  width: 48%;
  float: right;
}
#page-content .photo img {
  padding-left: 10px;
}
#page-content .more {
  text-align: right;
  font-size: 0.8em;
}
#page-content .more a {
  color: white;
  text-decoration: none;
}
#page-content .more a:hover {
  text-decoration: underline;
}
#page-content .top {
  text-align: right;
  font-size: 0.8em;
}
#page-content .top a {
  color: #257290;
  text-decoration: underline;
}
#page-content .location {
  width: 45%;
  height: 750px;
  position: relative;
  color: white;
  background-color: #1fbabf;
  padding: 5px 2%;
  margin-top: 10px;
  line-height: 1.25;
}
#page-content .location h3 {
  font-family: "YouAreLovedRegular", "HelveticaNeue", "Arial", "Helvetica", sans-serif;
  font-weight: normal;
  color: white;
  font-size: 1.5em;
}
#page-content .location a {
  color: white;
}
#page-content .location img {
  width: 100%;
  margin: 10px 0 0 0;
  padding: 0;
}
#page-content .location li {
  margin-bottom: 0.5em;
}
#page-content .winter-location {
  width: 195px;
  height: 650px;
  position: relative;
  color: white;
  background-color: #1fbabf;
  padding: 5px 7px;
  margin-top: 10px;
  line-height: 1.25;
}
#page-content .winter-location h3 {
  font-family: "YouAreLovedRegular", "HelveticaNeue", "Arial", "Helvetica", sans-serif;
  font-weight: normal;
  color: white;
  font-size: 1.3em;
}
#page-content .winter-location a {
  color: white;
}
#page-content .winter-location img {
  width: 100%;
  margin: 20px 0;
  padding: 0;
}
#page-content .winter-location li {
  margin-bottom: 0.5em;
}
#page-content .jumps {
  font-weight: bold;
}
#page-content .jumps a {
  font-weight: bold;
  color: #257290;
}
#page-content .qandas dt {
  font-weight: bold;
  color: #257290;
}
#page-content .vcard .org {
  font-weight: bold;
}
#page-content .vcard .adr {
  line-height: 1.25;
}
#page-content .team-member {
  border-top: 1px solid #bcbec0;
  padding-top: 10px;
}
#page-content .weekend {
  border-top: 1px solid #bcbec0;
  padding-top: 10px;
  margin-top: 10px;
}

#main-content hgroup {
  border-bottom: 1px solid #257290;
  margin-bottom: 10px;
}
#main-content hgroup h1 {
  font-family: "YouAreLovedRegular", "HelveticaNeue", "Arial", "Helvetica", sans-serif;
  font-size: 2em;
  font-weight: normal;
  color: #257290;
}
#main-content hgroup h2 {
  font-family: "HelveticaNeue", "Arial", "Helvetica", sans-serif;
  font-size: 1em;
  font-weight: bold;
  color: #257290;
}
#main-content hgroup h2 .full {
  color: #fff;
  background-color: #c00;
  padding: 1px 5px;
}
#main-content blockquote.testimonial {
  margin: 0.5em 0 0 0;
  padding: 0.5em 0 0 0;
  border-top: 1px solid #ccc;
}
#main-content blockquote.testimonial.first {
  border-top: none;
}
#main-content blockquote.testimonial p:before {
  content: "“";
  font-size: 3em;
  line-height: 0;
  position: relative;
  top: 0.4em;
  padding-right: 5px;
  color: #257290;
}
#main-content blockquote.testimonial p:after {
  content: "”";
  font-size: 3em;
  line-height: 0;
  position: relative;
  top: 0.4em;
  padding-left: 5px;
  color: #257290;
}
#main-content .testimonial-source {
  font-size: 0.9em;
  text-align: right;
  font-style: italic;
  margin: -0.5em 0 0.5em 0;
  padding: 0;
}

#related-content-1 dt {
  font-weight: bold;
  font-size: 1.1em;
  margin: 0.5em 0 0.25em;
}
#related-content-1 dd {
  position: relative;
}
#related-content-1 .stamp {
  color: #257290;
  font-family: YouAreLovedRegular;
  -moz-transform: rotate(-5deg);
  -webkit-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  transform: rotate(-5deg);
  position: absolute;
  top: -10px;
  opacity: 0.8;
  left: 30px;
  font-size: 3em;
  font-weight: bold;
}

#related-content-1 {
  margin-top: 60px;
}
#related-content-1 blockquote p:before {
  content: "“";
  font-size: 3em;
  line-height: 0;
  position: relative;
  top: 0.4em;
  padding-right: 5px;
  color: #ffcc00;
}
#related-content-1 blockquote p:after {
  content: "”";
  font-size: 3em;
  line-height: 0;
  position: relative;
  top: 0.4em;
  padding-left: 5px;
  color: #ffcc00;
}
#related-content-1 blockquote cite {
  display: block;
  font-size: 0.9em;
  text-align: right;
}
#related-content-1 .locations {
  width: 200px;
  margin: 10px auto 20px;
  padding: 10px 5px 5px;
  color: white;
  background-color: #33ccff;
  text-align: center;
  font-size: 0.9em;
  line-height: 1.25;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: #333333 1px 1px 5px 0;
  -webkit-box-shadow: #333333 1px 1px 5px 0;
  -o-box-shadow: #333333 1px 1px 5px 0;
  box-shadow: #333333 1px 1px 5px 0;
}
#related-content-1 .locations a {
  text-decoration: none;
  color: white;
}
#related-content-1 .included {
  width: 200px;
  margin: -10px auto 20px;
  padding: 10px 5px 5px;
  color: white;
  background-color: #33ccff;
  font-size: 0.9em;
  line-height: 1.25;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: #333333 1px 1px 5px 0;
  -webkit-box-shadow: #333333 1px 1px 5px 0;
  -o-box-shadow: #333333 1px 1px 5px 0;
  box-shadow: #333333 1px 1px 5px 0;
}
#related-content-1 .included h2 {
  color: white;
  font-size: 1.3em;
  line-height: 1.25;
  margin: 0;
}
#related-content-1 .included h3 {
  color: white;
  font-size: 1.1em;
  line-height: 1.25;
  margin: 1.5em 0 0 0;
}
#related-content-1 .included a {
  text-decoration: underline;
  color: white;
}

#related-content-2 {
  position: relative;
}
#related-content-2 .photo {
  width: 200px;
  overflow: hidden;
  padding: 0 0 10px 0;
  line-height: 0;
}
#related-content-2 .photo img {
  padding: 0;
  margin: 0;
}
#related-content-2 .thumbs {
  width: 200px;
  padding: 2px 0 0 2px;
  overflow: hidden;
  line-height: 0;
}
#related-content-2 .thumbs img {
  width: 61px;
  height: 61px;
  padding: 2px;
  float: left;
}
#related-content-2 .event-info {
  width: 200px;
  margin: 0 auto 25px;
  padding: 10px 5px 5px;
  color: white;
  background-color: #33ccff;
  font-size: 0.9em;
  line-height: 1.25;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: #333333 1px 1px 5px 0;
  -webkit-box-shadow: #333333 1px 1px 5px 0;
  -o-box-shadow: #333333 1px 1px 5px 0;
  box-shadow: #333333 1px 1px 5px 0;
}
#related-content-2 .event-info h1 {
  color: #257290;
  background-color: white;
  line-height: 1.25;
  padding: 5px;
  position: relative;
  top: -20px;
  left: -20px;
  text-align: center;
  -moz-transform: rotate(-5deg);
  -webkit-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  transform: rotate(-5deg);
  -moz-box-shadow: #333333 1px 1px 5px 0;
  -webkit-box-shadow: #333333 1px 1px 5px 0;
  -o-box-shadow: #333333 1px 1px 5px 0;
  box-shadow: #333333 1px 1px 5px 0;
}
#related-content-2 .event-info ul li {
  padding-top: 0.5em;
}
#related-content-2 .event-info table {
  margin-top: 10px;
  border: none;
  color: white;
}
#related-content-2 .event-info th, #related-content-2 .event-info td {
  padding: 3px 0;
  width: 50%;
  border: none;
  color: white;
}

#page-footer {
  position: absolute;
  bottom: -42px;
  right: -10px;
  font-size: 0.85em;
}
#page-footer ul li {
  display: inline;
  border-right: 1px solid white;
  padding: 0 7px;
  margin: 0;
}
#page-footer ul li:last-child {
  border: none;
}
#page-footer ul a {
  color: white;
  text-decoration: none;
}
#page-footer ul a:hover {
  text-decoration: underline;
}

.highlight {
  display: block;
  padding: 0 5px;
  text-decoration: none;
  margin: 1px;
  background-color: #257290;
  color: #fff;
  text-align: center;
  white-space: nowrap;
}

.red {
  display: block;
  width: auto;
  padding: 0 5px;
  text-decoration: none;
  margin: 1px;
  background-color: #c00;
  color: #fff;
  text-align: center;
  white-space: nowrap;
}

.amber {
  display: block;
  width: auto;
  padding: 0 5px;
  text-decoration: none;
  margin: 1px;
  background-color: #fecb2e;
  color: #fff;
  text-align: center;
  white-space: nowrap;
}

.green {
  display: block;
  width: auto;
  padding: 0 5px;
  text-decoration: none;
  margin: 1px;
  background-color: #00c;
  color: #fff;
  text-align: center;
  white-space: nowrap;
}

#recipe-types .recipe-type {
  width: 134;
  margin: 0 10px 10px 0;
  padding: 0 5px;
  float: left;
  border: 1px solid #257290;
}
#recipe-types .recipe-type h3 {
  font-size: 0.9em;
  text-align: center;
}
#recipe-types .recipe-type a {
  color: #257290;
}
#recipe-types .recipe-type a:hover {
  background-color: #eee;
}

.profile {
  margin-bottom: 7px;
  padding-bottom: 7px;
  border-bottom: 1px solid #bcbec0;
}
.profile p img {
  width: 125px;
  padding-right: 10px;
}

.af-form-wrapper .af-header {
  display: none;
}

.testimonials .tabs ul {
  padding-bottom: 0.5em;
  border-bottom: 1px solid #ccc;
}
.testimonials .tabs li {
  padding: 0;
  margin: 0;
  list-style: none;
}
.testimonials .tabs a {
  font-weight: bold;
  text-decoration: none;
  color: #257290;
}
.testimonials .tabs a:hover, .testimonials .tabs a:focus {
  text-decoration: underline;
}

#page-content aside.share-this {
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.6);
  font-family: "YouAreLovedRegular", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
  font-size: 1.2em;
  font-weight: normal;
  letter-spacing: 1px;
  text-align: center;
  color: white;
  position: absolute;
  top: 25px;
  right: 10px;
  text-shadow: rgba(0, 0, 0, 0.5) 2px 2px 2px;
}

/*# sourceMappingURL=main.css.map */
